<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="OricExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WeifenLuo.WinFormsUI.Docking" publicKeyToken="5cded1a1a0a7b481" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OricExplorer.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>2.0</value>
      </setting>
      <setting name="DirectoryListingsFolder" serializeAs="String">
        <value>I:\Documents</value>
      </setting>
      <setting name="CheckForUpdatesOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmulatorExecutable" serializeAs="String">
        <value>I:\Development\Windows .NET\Oric Test Files\Oricutron\oricutron.exe</value>
      </setting>
      <setting name="BasicLineNumberColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicLineNumberStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicDataKeywordColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicDataKeywordStyle" serializeAs="String">
        <value>Bold</value>
      </setting>
      <setting name="TapeFolders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>I:\Development\Windows .NET\Oric Test Files\Tapes</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DiskFolders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>I:\Development\Windows .NET\Oric Test Files\Disks</string>
            <string>I:\Development\Windows .NET\Oric Test Files</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RomFolders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>I:\Development\Windows .NET\Oric Test Files\ROMS</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BasicStringColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicCommentColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicKeywordColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicNumberColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicHexNumberColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicStringStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicCommentStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicKeywordStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicNumberStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicHexNumberStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="PageBackground" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="BasicLoopsColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BasicLoopsStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicBranchesStyle" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="BasicBranchesColor" serializeAs="String">
        <value>White</value>
      </setting>
    </OricExplorer.Properties.Settings>
  </userSettings>
</configuration>
